.page-container div {
    display: flex;
    color: white;
}

.sidemenu {
    position: relative;
    width: 21%;
    min-width: 180px;
    background-color: #212629;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.sidemenu h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    padding: 1rem 0 1rem 0;
}

.sidemenu ul {
    list-style-type: none;
    width: 100%;
    text-align: left;
}

.sidemenu ul {
    margin: 0;
    height: 40rem;
    
}

.sidemenu li {
    padding: 1rem 16px 1rem 16px;
}

.sidemenu li:hover {
    background-color: #1f6fb05b;
    border-radius: 4px;
    cursor: pointer;
}

.info-container {
    width: 100%;
}

.page-container .sidemenu-grid {
    display: none;
}



@media (max-width: 900px) {
    .page-container div {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .page-container .sidemenu {
        display: none;
    }

    .sidemenu-grid ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr)); /* Create a responsive grid */
        gap: 6px; /* Adjust the gap between grid items */
        list-style: none; /* Remove list bullets */
        padding: 0; /* Remove default list padding */
    }

    .sidemenu-grid h4 {
        font-size: 24px;
    }

    .sidemenu-grid li {
        padding: 1rem 16px 1rem 16px;
    }

    .sidemenu-grid li:hover {
        background-color: #1f6eb0;
        border-radius: 4px;
        cursor: pointer;
    }

    .page-container .sidemenu-grid {
        background-color: #212629;
        margin: 16px;
        padding: 16px;
        border-radius: 12px;
        display: block;
    }
}


/* ------------------------------------------- */

.xc-page {
    padding-top: 24px;
    display: flex;
}

.sidemenu-section {
    min-width: 45vh;
}

.sidemenu-section ul {
    list-style-type: none;
    width: 100%;
    text-align: left;
    color: #cfcfd2;
}

.sidemenu-section li {
    padding: 14px 26px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-weight: 700;
    letter-spacing: .55px;
}

.sidemenu-section li:hover {
    background-color: #363a47;
}

.active-link {
    background-color: #2A3542;
    color: #179BC6;
    cursor: pointer;
}

.active-link:hover {
    background-color: #2A3542 !important;
}

.sidemenu-section p {
    padding: 8px 26px;
    font-size: 12px;
    color: #8890a0;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .sidemenu-section {
        min-width: 100%;
        height: 100%;
        position: fixed;
        background-color: #23272F;
        z-index: 100;
    }

    .sidemenu-section li {
        padding: 14px 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: 700;
        letter-spacing: .55px;
    }
}