.page-container div {
    display: flex;
    color: white;
}

.sidemenu {
    position: relative;
    width: 21%;
    min-width: 180px;
    background-color: #212629;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.sidemenu h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    padding: 1rem 0 1rem 0;
}

.sidemenu ul {
    list-style-type: none;
    width: 100%;
    text-align: left;
}

.sidemenu ul {
    margin: 0;
    height: 40rem;
    
}

.sidemenu li {
    padding: 1rem 16px 1rem 16px;
}

.sidemenu li:hover {
    background-color: #1f6eb0;
    border-radius: 4px;
    cursor: pointer;
}

.info-container {
    width: 100%;
}

@media (max-width: 900px) {
    .page-container div {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .page-container .sidemenu {
        display: none;
    }

    .sidemenu-grid ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr)); /* Create a responsive grid */
        gap: 6px; /* Adjust the gap between grid items */
        list-style: none; /* Remove list bullets */
        padding: 0; /* Remove default list padding */
    }

    .sidemenu-grid h4 {
        font-size: 24px;
    }

    .sidemenu-grid li {
        padding: 1rem 16px 1rem 16px;
    }

    .sidemenu-grid li:hover {
        background-color: #1f6eb0;
        border-radius: 4px;
        cursor: pointer;
    }

    .sidemenu-grid {
        background-color: #212629;
        margin: 16px;
        padding: 16px;
        border-radius: 12px;
    }
}