/*  Blue: #007bff (a vibrant blue)
    Gold: #ffd700 (a bright gold)
*/

.home-page {
  position: relative;
  min-height: 100vh;
  background-color: var(--black);
  padding-top: 24px;
}

.container {
  position: relative;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* Align the children at the bottom */
  margin: 0 56px 0 56px;
  background-color: #212629;
  border-radius: 12px;
}

.container img {
  width: 100%; 
  height: 150%; 
  display: block; 
  margin: 0 auto;
  image-rendering: optimizeQuality;
}

.overlay {
  position: absolute; /* Position the overlay relative to the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-family: var(--font-family-header);
  color: rgb(255, 255, 255);
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.overlay h3 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-top: 36px;
}

.overlay button {
  display: inline-block;
  padding: 8px 18px;
  width: 10rem;
  letter-spacing: 1.05px;
  font-size: 16px;
  font-weight: thin;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  background-color: #1f6eb0; /* Background color */
  color: #ffffff; /* Text color */
  border: 2px solid #1f6eb0; /* Border color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.overlay button:hover {
  background-color: #2980b9;
  border-color: #1a619c;
  color: #ffffff; /* Text color on hover */
  transform: translateY(-2px);
}

/* Active/focus effect */
.overlay button:active,
.overlay button:focus {
  outline: none;
  background-color: #1f6eb0; /* Background color on active/focus */
  border-color: #1a619c; /* Border color on active/focus */
}

.overlay div {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 56px;
}

.icon-container {
  position: relative;
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Align the children at the bottom */
  margin: 0 56px 0 56px;
  border-radius: 12px;
}

.icon-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-container h1, p {
  color: white;
}

.icon-container h1 {
  padding-top: 16px;
}

.icon-container p {
  text-transform: uppercase;
  padding-top: 4px;
  letter-spacing: 1.12px;
}

.home-icon {
  color: white;
  height: 6rem;
  width: 6rem;
}

@media (max-width: 768px) {
  .container img {
    width: 100%; 
    height: 100%; 
    display: block; 
    margin: 0 auto;
    image-rendering: optimizeQuality;
  }

  .overlay h1 {
    font-family: var(--font-family-header);
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    width: 100%;
    text-align: center;
  }
  
  .overlay h3 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-top: 36px;
  }

  .overlay div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 56px;
  }

  .home-icon {
    color: white;
    height: 4rem;
    width: 4rem;
  }

  .icon-container {
    position: relative;
    height: 40vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 16px;
    text-align: center;
    margin-top: 32px
  }

  .center-icon-container {
    grid-column: 1 / span 2;
  }

  .icon-container .home-icon:nth-child(1) {
    width: 100%;
  }
}





























  .top-athlete-list {
    list-style-type: none;
  }

.top-athlete-item {
  padding: 8px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.top-athlete-item:hover {
  background-color: #ffd9002e;
}

.race-details {
font-size: 16px;
color: #007bff;
margin-bottom: 20px;
border-bottom: 1px solid #0000006e;
max-width: 60%;
padding-bottom: 5px;
}

.column-container {
display: flex;
}

.column {
flex: 1;
margin-right: 20px;
}

.record-heading {
font-size: 18px;
font-weight: bold;
color: #333333;
margin-bottom: 10px;
}

.home-hero {
  /* background: #eafcff; */
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-hero {
    flex-direction: column;
    /* background: #eafcff; */
    gap: 32px;
    overflow: hidden;
  }

    .main-block {
      display: none;
    }
  
  .main-block-mobile {
    background-color: var(--black);
    width: 100%;
    margin-right: 80px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: baseline;
    padding: 16px;
  }

  .arrow-icon-mobile {
    color: #eafcff;
    width: 24px;
    height: 24px;
  }
}

.secondary-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  gap: 56px;
}

.main-cta-container {
  width: 100%;
  text-align: center;
  align-items: center;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  padding-left: 8px;
}

.main-block {
  border: 2px var(--black) solid;
  border-radius: 8px;
  text-align: left;
  background-color: var(--black);
  height: 396px;
  width: 336px;
  padding: 24px;
  align-items: center;
  margin-right: 56px;
  margin-left: 56px;
}

.secondary-block {
  border-radius: 8px;
  text-align: left;
  padding: 32px 80px 32px 80px;
  background: var(--gradient-color);
  max-height: 136px;
}

.hero-button-secondary {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  color: var(--black);
}

.hero-button-primary {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  color: hsl(189, 100%, 96%);
}

/* Set the height of the container to 80vh */


/* Create the gradient background */
.fading-top {
  position: absolute;
  top: 54%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(33, 38, 41, 0), rgb(33, 38, 41, 1));
  pointer-events: none;
  z-index: 80;
}

/* Center the image at the bottom */


/* Style the image */
.image {
  max-height: 100%; /* Set the max height to prevent image overflow */ /* Set the max width to maintain aspect ratio */
  height: 32vh;
  width: 38rem;
}

.hero-text {
  color: white;
  position: absolute;
  top: 35px;
  font-family: var(--font-family-header);
  font-weight: bolder;
  font-size: 52px;
  text-align: center;
  z-index: 100;
}

.hero-cta-container {
  position: absolute;
  top: 16.25rem;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 100;
}

.hero-cta {
  padding: 8px 40px 8px 40px;
  border-radius: 6px;
  border-color: white;
  background-color: transparent;
  border: solid 0.5px gold;
  color: white;
  font-family: var(--font-family-header);
  font-size: 16px;
  letter-spacing: 2px;
}

.hero-cta:hover {
  opacity: .85;
}