/*  Blue: #007bff (a vibrant blue)
    Gold: #ffd700 (a bright gold)
*/

  .top-athlete-list {
    list-style-type: none;
  }

.top-athlete-item {
  padding: 8px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.top-athlete-item:hover {
  background-color: #ffd9002e;
}

.race-details {
font-size: 16px;
color: #007bff;
margin-bottom: 20px;
border-bottom: 1px solid #0000006e;
max-width: 60%;
padding-bottom: 5px;
}

.column-container {
display: flex;
}

.column {
flex: 1;
margin-right: 20px;
}

.record-heading {
font-size: 18px;
font-weight: bold;
color: #333333;
margin-bottom: 10px;
}

.home-hero {
  /* background: #eafcff; */
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-hero {
    flex-direction: column;
    /* background: #eafcff; */
    gap: 32px;
    overflow: hidden;
  }

    .main-block {
      display: none;
    }
  
  .main-block-mobile {
    background-color: var(--black);
    width: 100%;
    margin-right: 80px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: baseline;
    padding: 16px;
  }

  .arrow-icon-mobile {
    color: #eafcff;
    width: 24px;
    height: 24px;
  }
}

.secondary-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  gap: 56px;
}

.main-cta-container {
  width: 100%;
  text-align: center;
  align-items: center;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  padding-left: 8px;
}

.main-block {
  border: 2px var(--black) solid;
  border-radius: 8px;
  text-align: left;
  background-color: var(--black);
  height: 396px;
  width: 336px;
  padding: 24px;
  align-items: center;
  margin-right: 56px;
  margin-left: 56px;
}

.secondary-block {
  border-radius: 8px;
  text-align: left;
  padding: 32px 80px 32px 80px;
  background: var(--gradient-color);
  max-height: 136px;
}

.hero-button-secondary {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  color: var(--black);
}

.hero-button-primary {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--font-family-paragraph);
  font-size: 12px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  color: hsl(189, 100%, 96%);
}
