.header-container {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    padding: auto;
}

.header-container h1 {
    font-size: 48px;
    letter-spacing: 1.12px;
    color: white;
}

.subheader-container {
    width: 100%;
    height: 80px;
    line-height: 40px;
    display: flex;
    padding-left: 24px;
}

.subheader-container h1 {
    font-size: 32px;
    letter-spacing: 1.12px;
    color: white;
}