.header-container {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    padding: auto;
}

.header-container h1 {
    font-size: 48px;
    letter-spacing: 1.12px;
    color: white;
}

.subheader-container {
    width: 100%;
    height: 80px;
    line-height: 40px;
    display: flex;
}

.subheader-container h1 {
    font-size: 40px;
    letter-spacing: 1.12px;
    color: rgb(147, 174, 205);
}

@media (max-width: 900px) {
    .subheader-container {
        width: 100%;
        height: 80px;
        line-height: 40px;
        display: flex;
        padding-left: 24px;
    }

    .subheader-container h1 {
        font-size: 32px;
        letter-spacing: 1.12px;
        color: rgb(147, 174, 205);
    }
}