.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .grid-item {
    background-color: #212629;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }