.list li {
    width: 100%; 
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #1f6fb01a;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.list li:hover {
    background-color: #1f6fb055;
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    padding-top: 32px;
    width: 100%;
    column-count: 4;
    column-gap: 20px;
}



@media (max-width: 900px) {
    .list {
        list-style-type: none;
        padding-left: 0;
        overflow: hidden;
        padding-top: 32px;
        width: 100%;
        column-count: 2;
        column-gap: 20px;
    }

    .search-container {
        width: 100%;
        align-items: center;
        margin-top: 0;
    }
}

/* ----------------------------------------- */

.xc-athlete-page {
    padding: 8px 32px;
    margin-right: 80px;
    padding-bottom: 56px;
}

.xc-athlete-page .top-container {
    border-bottom: 1px solid #363a47;
}

.xc-athlete-header p {
    color: #179BC6;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .75px;
}

.xc-athlete-header span {
    padding: 0 8px;
    font-size: 16px;
}

.xc-athlete-header h1 {
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 16px 0;
}

.top-container .search-container {
    max-width: 95%;
    align-items: left;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.top-container .search-container p {
    padding: 8px 0;
    font-size: 12px;
    color: #8890a0;
    font-weight: 700;
    letter-spacing: 1px;
}

.top-container .search-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .top-container .search-container input {
    width: 100%;
    height: 24px;
    border-radius: 32px;
    padding-left: 16px;
    margin-top: 8px;
    color: #8890a0;
    background-color: #363a47;
    border: none;
  }
  
  .search-container input:focus {
    outline: none;
  }

.xc-athlete-desc {
    max-width: 120vh;
    padding-bottom: 16px;
    letter-spacing: .45px;
}

.xc-athlete-desc span {
    font-style: italic;
}

/* Table */

.athlete-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #16181D;
    border: 1px solid #16181D;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.athlete-table th,
.athlete-table td {
    padding: 8px;
    text-align: left;
    /* border-bottom: 1px solid #179BC6; */
}

.athlete-table thead tr {
    background-color: #16181D; /* Blue color for header background */
    color: #1692ba; /* White color for header text */
  }

.athlete-table tbody tr {
    color: #8890a0;
}

.athlete-table tbody a {
    padding: 4px;
    color: #ffffffb4;
}

.athlete-table tbody a:hover {
    color: #FFFFFF;
    background-color: #2A3542;
    border-radius: 8px;
}

.athlete-table tbody tr:hover {
    color: #FFFFFF;
}

.athlete-table tbody tr:nth-child(even) {
    background-color: #16181D; /* Light grey color for even rows */
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    color: #179BC6;
    border: none;
    background-color: #2A3542;
    border-radius: 24px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .pagination button:disabled {
    background-color: #363a47;
    color: #8890a0;
    cursor: not-allowed;
  }
  
  .pagination span {
    background-color: #2A3542;
    border-radius: 5px;
    color: #179BC6;
    padding: 5px 10px;
    margin: 0 5px;
  }

  @media (max-width: 768px) {
    .xc-athlete-page {
        padding: 0 32px;
        margin-right: 0;
    }
  }