/* MobileGrid.css */
.mobile-grid {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .grid-row {
    display: flex;
    margin-bottom: 8px;
    gap: 8px;
  }
  
  .grid-item {
    flex: 1;
    padding: 16px;
    background-color: #3f484a;
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    font-family: var(--font-family-header);
    font-size: 21px;
    font-weight: lighter;
    letter-spacing: 1.12px;
  }
  
  .grid-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .grid-item {
      margin-right: 8px;
    }
  }
  