/* Gallery Container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 56px 0;
  }
  
  .gallery img {
    max-width: 32.25%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
  }
  
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .modal button {
    position: absolute;
    top: 24px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  

  @media (max-width: 1137px) {
    .gallery img {
        max-width: 48.5%;
        height: auto;
        cursor: pointer;
        border-radius: 8px;
      }
  }