.navbar {
    max-width: 100%;
    height: 56px;
    z-index: 100;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-container-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 320px;
    justify-content: space-between;
  }
  
  .navbar__link {
    text-decoration: none;
    padding-right: 16px;
    font-family: var(--font-family-header);
    color: var(--black);
  }
  
  .navbar__link:hover {
    color: var(--secondary-color);
  }
  
  /* AthleteSearch.css */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #e1e1e1;
}

/* NavbarMobile.css */
.navbar-mobile {
  padding: 14px 16px 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  border: none;
}

.navbar-logo {
  color: white;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  font-size: 28px;
}

.navbar-icon-container {
  position: relative;
  height: 56px;
  width: 42px;
}

.navbar-icon {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hamburger-mobile {
  cursor: pointer;
  display: none;
}

.bar-mobile {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
}

.menu-mobile {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99;
  justify-content: center;
  text-align: center;
}

.menu-mobile li {
  margin-left: 20px;
}

.menu-mobile a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .hamburger-mobile {
    display: block;
  }

  .menu-mobile {
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 50px;
    width: 12rem;
    padding: 10px;
    border-radius: 5px;
    
  }

  .menu-mobile li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-mobile a {
    font-family: var(--font-family-paragraph);
    color: var(--black-75);
    font-weight: lighter;
  }

  .menu-mobile.active {
    display: flex;
  }
}
