.navbar {
    max-width: 100%;
    height: 56px;
    z-index: 100;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-container-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 320px;
    justify-content: space-between;
  }
  
  .navbar__link {
    text-decoration: none;
    padding-right: 16px;
    font-family: var(--font-family-header);
    color: var(--black);
  }
  
  .navbar__link:hover {
    color: var(--secondary-color);
  }
  
  /* AthleteSearch.css */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #e1e1e1;
}
