.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: solid 2px #00000033;
    box-shadow: 0px 4px 8px 0px #00000033;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .navbar__link {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .navbar__link:hover {
    color: #0056b3;
  }
  