.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 100;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    background-color: thistle;
  }
  
  .nav-container-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 320px;
    justify-content: space-between;
  }
  
  .navbar__link {
    text-decoration: none;
    padding-right: 16px;
    font-family: var(--font-family-header);
    color: var(--black);
  }
  
  .navbar__link:hover {
    color: var(--secondary-color);
  }
  