.navbar {
    max-width: 100%;
    height: 56px;
    z-index: 100;
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: center;
    background-color: #23272F;
  }
  
  .nav-container-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 320px;
    justify-content: space-between;
  }
  
  .navbar__link {
    text-decoration: none;
    padding-right: 16px;
    font-family: var(--font-family-header);
    color: white;
  }
  
  .navbar__link:hover {
    color: var(--secondary-color);
  }
  
  /* AthleteSearch.css */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #e1e1e1;
}

/* NavbarMobile.css */
.navbar-mobile {
  padding: 14px 16px 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  border: none;
  position: relative;
  z-index: 100;
}

.navbar-mobile-fullscreen {
  padding: 14px 16px 18px 16px;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  border: none;
  position: relative;
  z-index: 100;
}

.navbar-logo {
  color: white;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  font-size: 28px;
}

.navbar-icon-container-menu {
  position: relative;
  height: 56px;
  width: 42px;
  cursor: pointer;
}

.navbar-icon-container-search {
  position: relative;
  height: 56px;
  width: 38px;
  cursor: pointer;
}



.bar-mobile {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
}

.menu-mobile {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99;
  justify-content: center;
  text-align: center;
}

.menu-mobile li {
  margin-left: 20px;
}

.menu-mobile a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .hamburger-mobile {
    display: block;
  }

  .menu-mobile {
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 50px;
    width: 12rem;
    padding: 10px;
    border-radius: 5px;
    
  }

  .menu-mobile li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-mobile a {
    font-family: var(--font-family-paragraph);
    color: var(--black-75);
    font-weight: lighter;
  }

  .menu-mobile.active {
    display: flex;
  }
}

/***                       Mobile Menu                                   ***/
.menu-content {
  position: absolute;
  top: 88px;
  width: 45%;
  min-height: 100%;
  background-color: white; /* TODO: Change color? */
  z-index: 100;
  padding-left: 16px;
  padding-top: 16px;
}

.menu-content h4 {
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu-content ul {
  width: 100%;
  text-align: left;
  list-style: none;
  padding-left: 24px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.menu-content li {
  padding: 4px;
  text-transform: capitalize;
  letter-spacing: 1.08px;
}

.menu-content a {
  text-decoration: none;
  color: var(--black)
}

.menu-content.open {
  animation: openMenu 0.64s forwards;
}

.menu-content.closed {
  animation: closeMenu 0.64s forwards;
}

@keyframes openMenu {
  from {
    left: 100%;
  }
  to {
    left: 46.5%;
  }
}

@keyframes closeMenu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.lineStyle {
  position: relative;
  margin-bottom: 8px;
  margin-top: 24px;
}

.line-break {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(0, 0, 0, .9);
}

/*                                                   UPDATE v3?                                  */

.navbar .search-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.navbar .search-container button {
  width: 100%;
  height: 32px;
  border-radius: 32px;
  padding-left: 16px;
  margin-top: 16px;
  color: #8890a0;
  background-color: #363a47;
  border: none;
  text-align: left;
  cursor: pointer;
}

.logo {
  margin: 16px;
  padding: 8px;
  color: #1692ba
}

.link-container {
  width: 40%;
  margin-left: 32px;
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link-container a {
  color: #EBECF0;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 16px;
}

.link-container a:hover {
  background-color: #2E323B;
}

.link-container .active {
  background-color: #2A3542;
  color: #179BC6;
}

.nav-icon-container {
  display: flex;
  flex-direction: row;
  background-color: #23272F;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.navbar-icon {
  color: white;
  height: 36px;
  width: 36px;
}

.nav-open {
  background-color: #23272F;
  width: 100%;
  position: fixed;
  z-index: 101;
}

.mobile-link-container {
  margin-top: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #363a47;
  padding-bottom: 8px;
}

.mobile-link-container a {
  color: #EBECF0;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 16px;
}

.mobile-link-container a:hover {
  background-color: #2E323B;
}

.mobile-link-container .active {
  background-color: #2A3542;
  color: #179BC6;
}

.navbar .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar .search-form {
  background-color: #23272F;
  width: 86vh;
  height: 85vh;
  border-radius: 8px;
  padding: 32px;
  border: 1px solid #363a47;
  overflow: hidden;
}

.search-form input {
  width: 97%;
  border-radius: 16px;
  padding: 6px 12px;
  color: #8890a0;
  background-color: #363a47;
  border: none;
  text-align: left;
  cursor: pointer;
}

.search-form button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: 8px;
  margin-bottom: 16px
}

.search-form div {
  border-bottom: 1px solid #363a47;
  padding-bottom: 32px;
}

.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.search-form ul {
  list-style: none;
  padding: 16px 0;
}

.search-form li {
  padding: 12px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.search-form li:hover {
  background-color: #179BC6;
  border-radius: 8px;
  cursor: pointer;
}

.search-form span {
  height: 12px;
  width: 100%;
}

.nav-modal-icon {
  width: 10%;
  height: 100%;
  transform: scale(1.2);
}

.search-form li span:last-child {
  display: none;
  text-align: right;
}

.search-form li:hover span:last-child {
  display: block;
}