.sidemenu-container {
    background-color: #212629;
    min-height: 100vh;
    width: 23%;
}

.sidemenu-container h4, h1 {
    text-transform: uppercase;
    letter-spacing: 1.05px;
}

.sidemenu-container h4 {
    text-align: left;
    padding-bottom: 4px;
}

.sidemenu-container h1 {
    font-size: 24px;
    padding: 24px 0 24px 0;
}

.actions-container h4 {
    width: 100%;
    padding-left: 16px;
}

.actions-container ul {
    list-style: none;
}

.sidemenu-container div, .sidemenu-container ul {
    width: 100%;
    text-align: center;
}

.sidemenu-container ul > li {
    padding: 8px;
    padding-left: 16px;
}

.sidemenu-container ul > li > ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

.sidemenu-container ul > li > ul > li {
    padding: 8px;
}

.sidemenu-container ul > li > ul > li:hover {
    background-color: aliceblue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}