.image-carousel {
    position: relative;
    width: 440px;
    height: 448px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #33333324;
    border-radius: 12px;
    overflow: hidden;
  }

.image-drape {
    position: absolute;
    width: 440px;
    height: 448px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 12px;
    overflow: hidden;
    z-index: 50;
    color: transparent;
    align-items: center;
    text-align: center;
}

.image-drape:hover {
  background-color: var(--black-50);
  color: white;
  font-family: var(--font-family-paragraph);
  text-transform: uppercase;
}
  
  .carousel-image {
    position: absolute;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .carousel-image.active {
    opacity: 1;
    z-index: 10;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  