.container {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 275px;
}

.title {
  padding: 10px;
  background-color: #007bff84;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.title:hover {
  background-color: #007bff46;
}

.accordionBody {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.open {
  height: auto;
}

/* .input {
  width: 93.5%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
} */

.athleteList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.athleteItem {
  padding: 8px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  list-style-type: none;
}

.athleteItem:hover {
  background-color: #ffd9002e;
}

.athleteItem:last-child {
  border-bottom: none;
}
