.home-page {
  position: relative;
  z-index: 90;
}

.container {
  height: 70vh;
  background-color: #23272F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
}

.container .hero-txt {
  width: 100%;
}

.container h1 {
  font-size: 48px;
  text-transform: capitalize;
  letter-spacing: 1.05px;
  color: #FFFFFF
}

.container h3 {
  font-size: 28px;
  color: #8890a0;
  font-weight: lighter;
  padding: 16px 0;
}

.container h3 > span {
  font-size: 28px;
  color: #2089AF;
  font-weight: lighter;
}

.container p {
  color: #2089AF;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  padding: 16px 0;
}

.hero-btn {
  width: 100%;
  margin-top: 56px;
}

.hero-btn button {
  background-color: #363a47;
  border: 1px solid transparent;
  padding: 16px 24px;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn button:hover {
  color: #179BC6;
}

.icon-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  height: 70vh;
}

.icon-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  text-align: center;
  background-color: #343a4662;
  padding: 10px 40px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.icon-container h1, p {
  color: #FFFFFF;
}

.icon-container h1 {
  padding-top: 16px;
}

.icon-container p {
  text-transform: uppercase;
  padding-top: 4px;
  letter-spacing: 1.12px;
}

.home-icon {
  color: #FFFFFF;
  height: 6rem;
  width: 6rem;
}

.data-section {
  background-color: #1A1C22;
  text-align: center;
  padding-top: 120px;
  height: 80vh;

}

.data-section h2 {
  color: #FFFFFF;
  font-size: 36px;
  text-transform: capitalize;
}

.data-section h2 > span {
  color: #2089AF;
}

.data-section > p {
  color: #9AA1B3;
  font-size: 18px;
  padding: 8px;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
  }

  .home-icon {
    color: white;
    height: 4rem;
    width: 4rem;
  }

  .icon-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: grid;
    margin-top: 32px;
    gap: 16px;
    text-align: center;
  }

  .center-icon-container {
    grid-column: 1 / span 2;
  }

  .icon-container .home-icon:nth-child(1) {
    width: 100%;
  }

  .hero-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .container h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    color: #FFFFFF
  }

  .container h3 {
    font-size: 22px;
  }

  .data-section h2 {
    color: #FFFFFF;
    font-size: 31px;
  }
}