/* NavbarBottom.css */
.navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-5);
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-bottom a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .btn-container {

  }

  .navbar-bottom-icon {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .navbar-bottom-icon-container-active {
    position: relative;
    height: 32px;
    width: 100%;
  }

  .navbar-bottom-icon-container-active #home {
    color: var(--primary-color);
  }
  .navbar-bottom-icon-container-active #search {
    color: var(--primary-color);
  }
  .navbar-bottom-icon-container-active #profile {
    color: var(--primary-color);
  }

  .navbar-bottom-icon-container {
    position: relative;
    height: 32px;
    width: 100%;
  }