h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 4rem;
}

h4 {
  font-size: 1.20rem;
  font-weight: bold;
  color: #000000c0;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 16px;
}

.list-item {
  padding: 6px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.num-list-item {
  padding: 6px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.list-item-style2 {
  padding: 6px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.num-list {
  list-style: decimal;
  list-style-position: inside;
}

.list-item:hover {
  background-color: #5ca3ef5f;
}

.num-list-item:hover {
  background-color: #5ca3ef5f;
}

.h2linkstyle {
  text-decoration-line: none;
  color: black;
}

.h2linkstyle:hover {
  color: #007bff;
}

.spanlinkstyle {
  text-decoration-line: none;
  color: black;
}

.spanlinkstyle:hover {
  color: #007bff;
}

.filter-btn {
  border: solid 1px black;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

.filter-btn:hover {
  opacity: .75;
}

.filter-btn-active {
  border: solid 1px transparent;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid-item {
  background-color: #b0e0e6;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 59rem;
  height: 100vh;
}
