h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 4rem;
}

h4 {
  font-size: 1.20rem;
  font-weight: bold;
  color: #000000c0;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 16px;
}

.list-item {
  padding: 6px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.num-list-item {
  padding: 6px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.num-list {
  list-style: decimal;
  list-style-position: inside;
}

.list-item:hover {
  background-color: #5ca3ef5f;
}

.num-list-item:hover {
  background-color: #5ca3ef5f;
}

.h2linkstyle {
  text-decoration-line: none;
  color: black;
}

.h2linkstyle:hover {
  color: #007bff;
}

.spanlinkstyle {
  text-decoration-line: none;
  color: black;
}

.spanlinkstyle:hover {
  color: #007bff;
}