.alumni-item {
    padding: 6px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
  }

  .alumni-list {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
  }

  .alumni-item:hover {
    background-color: #ffd9002e;
  }