/* MobileButtonGroup.css */
.button-group {
    text-align: center;
  }
  .button-group button {
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .selected-button {
    background-color: grey;
    border: none;
    padding: 8px 24px 8px 24px;
    border-radius: 18px;
    font-family: var(--font-family-paragraph);
    font-size: 16px;
    font-weight: lighter;

    color: white;
    margin-right: auto;
    transform: translateX(0);
    transition: transform 1s ease;
  }
  
  .selected-button.selected {
    transform: translateX(0%);
    background-color: var(--secondary-color);
    color: var(--black);
  }

  .selected-button.inactive {
    display: none;
  }
  