.athlete-page-container {
    padding: 0 56px 0 56px;
    background-color: var(--black);
    min-height: 95vh;
    display: flex;
    flex-direction: row;
    color: white;
}

.left-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.user-container {
    position: relative;
    height: 40vh;
    width: 40vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end; /* Align the children at the bottom */
    margin: 0 32px 0 32px;
    background-color: #212629;
    border-radius: 12px;
}

.user-container img {
    width: 100%; 
    height: 100%;
    display: block; 
    margin: 0 auto;
    image-rendering: optimizeQuality;
}

.stats-container {
    background-color: #212629;
    margin: 32px 32px;
    height: 45vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container h4 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #2980b9;
}

.seasons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-header {
    margin-top: 24px;
    margin-bottom: 24px;
}

.seasons-container h1 {
    font-size: 64px;
}

.seasons-container h3 {
    min-width: 220px;
    color: rgb(189, 157, 30);
    letter-spacing: 1.12px;
}

.season h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    color: rgba(145, 141, 141, 0.582);
    margin-top: 32px;
}

.seasons-container ul {
    list-style: none;
    background-color: #212629;
    border-radius: 8px;
}

.seasons-container li {
    display: flex;
    /* background-color: #212629; */
    padding: 16px;
    justify-content: space-between;
}

.seasons-container li:nth-child(even) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.seasons-container li:nth-child(odd) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}